@import url(https://fonts.googleapis.com/css?family=Lato:400,700,900);
*, *:before, *:after {
  box-sizing: border-box;
}

.slide-container {
  margin: auto;
  width: 600px;
  text-align: center;
}

.wrapper {
  padding-top: 40px;
  padding-bottom: 40px;
}
.wrapper:focus {
  outline: 0;
}

.clash-card {
  background: white;
  width: calc(50% - 53px)!important;
  display: inline-block;
  margin-right: -3px;
  margin-left: 35px;
  border-radius: 10px;
  position: relative!important;
  text-align: center;
  box-shadow: 0px 0px 0px 1px rgb(211, 211, 211);
}

.see-more {
  margin-left: 870px;
  margin-top: 10px;
  display: flex;
}

.clash-card__image {
  position: relative;
  height: 200px;
  margin-bottom: 15px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.clash-card__image--wizard {
  background: url("https://rawcdn.githack.com/chanitypham/Mindbliss/d23490ca046e3bf701efc6c9a8c0a9c48ed3bbf0/assets/img/Matcha-Green-Tea-Energy-min.png");
  position: relative;
}

.clash-card__level {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 3px;
}

.clash-card__level--barbarian {
  color: #EC9B3B;
}

.clash-card__level--archer {
  color: #EE5487;
}

.clash-card__level--giant {
  color: #F6901A;
}

.clash-card__level--goblin {
  color: #82BB30;
}

.clash-card__level--wizard {
  color: #4FACFF;
}

.clash-card__unit-name {
  font-size: 26px;
  color: black;
  font-weight: 900;
  margin-bottom: 5px;
  line-height: 35px;
  padding: 0px 20px
}

.clash-card__unit-description {
  padding: 0px 20px 20px 20px;

}

.clash-card__unit-stats--barbarian {
  background: #EC9B3B;
}
.clash-card__unit-stats--barbarian .one-third {
  border-right: 1px solid #BD7C2F;
}

.clash-card__unit-stats--archer {
  background: #EE5487;
}
.clash-card__unit-stats--archer .one-third {
  border-right: 1px solid #D04976;
}

.clash-card__unit-stats--giant {
  background: #F6901A;
}
.clash-card__unit-stats--giant .one-third {
  border-right: 1px solid #de7b09;
}

.clash-card__unit-stats--goblin {
  background: #82BB30;
}
.clash-card__unit-stats--goblin .one-third {
  border-right: 1px solid #71a32a;
}

.clash-card__unit-stats--wizard {
  background: #4FACFF;
}
.clash-card__unit-stats--wizard .one-third {
  border-right: 1px solid #309eff;
}

.clash-card__unit-stats {
  color: white;
  font-weight: 700;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
}
.clash-card__unit-stats .one-third {
  width: 33%;
  float: left;
  padding: 20px 15px;
}
.clash-card__unit-stats sup {
  position: absolute;
  bottom: 4px;
  font-size: 45%;
  margin-left: 2px;
}
.clash-card__unit-stats .stat {
  position: relative;
  font-size: 24px;
  margin-bottom: 10px;
}
.clash-card__unit-stats .stat-value {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 12px;
}
.clash-card__unit-stats .no-border {
  border-right: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.slick-prev {
  left: 100px;
  z-index: 999;
}

.slick-next {
  right: 100px;
  z-index: 999;
}


/*******************************/
/*********** Blog CSS **********/
/*******************************/
.blog {
  position: relative;
  width: 100%;
}

.blog .row {
  margin-left: 0px!important;
  margin-right: 0px!important;
}

.blog .blog-carousel {
  position: relative;
  width: calc(100% + 30px);
  left: -15px;
  right: -15px;
}

.blog .blog-item {
  position: relative;
  border-right: 1px solid rgba(0, 0, 0, .07);
  border-bottom: 1px solid rgba(0, 0, 0, .07);
  border-left: 1px solid rgba(0, 0, 0, .07);
  border-top: 1px solid rgba(0, 0, 0, .07);
  text-align: justify;
  border-radius: 10px;
  margin-bottom: 10px;
}

.blog .blog-text {
  padding: 10px 25px 10px 25px;
}

.blog .blog-img {
  position: center;
  text-align: center;
  padding-bottom: 25px;
}

.blog .blog-img img {
  text-align: center;
  width: 60%;
  height: 60%;
}


.blog .blog-text h2 {
  font-size: 22px;
  font-weight: 600;
  text-align: justify;
}

.blog .blog-text p {
  margin-bottom: 10px;
  text-align: justify;
}

/* .blog .blog-item a.btn {
  text-align: center;
  padding-bottom: 10px;
  font-size: 20px;
  font-weight: 700;
  text-transform: capitalize;
  color: #343148;
  transition: .3s;
  padding: 0px!important;
}

.blog .blog-item a.btn i {
  margin-left: 10px;
  text-align: center;
}

.blog .blog-item a.btn:hover {
  color: #F7CAC9;
  text-align: center;
} */

.blog-link {
  font-size: 26px;
  color: black;
  font-weight: 800;
  margin-bottom: 5px;
  line-height: 35px;
}

.blog-link-icon {
  padding-left: 10px;
}

.blog .blog-meta {
  position: relative;
  display: flex;
  margin-bottom: 15px;
}

.blog .blog-meta p {
  margin: 0 10px 0 0;
  font-size: 13px;
}

.blog .blog-meta i {
  margin-right: 5px;
}

.blog .blog-meta p:last-child {
  margin: 0;
}

.blog .owl-nav {
  width: 150px;
  margin: 32px auto 0 auto;
  display: flex;
}

.blog .owl-nav .owl-prev,
.blog .owl-nav .owl-next {
  margin-left: 15px;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #F7CAC9;
  background: #343148;
  font-size: 22px;
  transition: .3s;
}

.blog .owl-nav .owl-prev:hover,
.blog .owl-nav .owl-next:hover {
  color: #343148;
  background: #F7CAC9;
}

.blog .pagination .page-link {
  color: #343148;
  border-radius: 0;
  border-color: #343148;
}

.blog .pagination .page-link:hover,
.blog .pagination .page-item.active .page-link {
  color: #F7CAC9;
  background: #343148;
}

.blog .pagination .disabled .page-link {
  color: #999999;
}

.blog-preview-img {
  position: relative;
  height: 200px;
  margin-bottom: 15px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  background: url("https://rawcdn.githack.com/chanitypham/Mindbliss/d23490ca046e3bf701efc6c9a8c0a9c48ed3bbf0/assets/img/Matcha-Green-Tea-Energy-min.png");
  position: relative;
}

.blog-preview-img-atc3 {
  position: relative;
  height: 200px;
  margin-bottom: 15px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  background: url("https://i.pinimg.com/564x/7d/fd/fd/7dfdfdfb3b5a830e565597f079aa5be0.jpg");
  position: relative;
}
